<%= form_for(:session, url: sessions_path, id: "signin-form") do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Sign in" %>
  <!--<p>Need an account? <%= link_to "Sign up here", signup_path %></p>-->
  <p>Need an account? <%= link_to "Sign up here", signup_path, {:style =>'color:#5eaad5;'} %></p>
<% end %>