<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.label :name, class: "required" %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :email, class: "required" %><br>
        <%= f.text_field :email %>
    </div>

    <%= f.submit %>
<% end %>