<div class="fixed-header">
  <%= render 'shared/search' %>
  <% if signed_in? %>
  <% end %>
  </div>

<div class="item-index"></div>

<div class="item-articles">
  <%= content_tag(:p, notice, id: "notice") unless notice.nil? %>
  <%= will_paginate @items %>

  <% @items.each do |item| %>
<article class="item-preview">
    <div class="item-thumb"><%= image_tag item.image_preview.url(:thumb) %></div>
    <div class="details">
      <h2><%= link_to item.name, item %></h2>
      <h3><%= number_to_currency(find_highest_bid_for(item)) %></h3>
      <h3><%= item.category.name %></h3>
      <h3><%= time_to_natural_language(item.finish_time - Time.now) %> remaining</h3>
    </div>
  </article>
  <% end %>
  <%= will_paginate @items %>
</div>